/* Prevent header resizing on scroll (stop-gap) */
.header, .header-inner {
    height: 64px !important;
}

.nav-menu ul.nav-menu-inner > li > a {
    padding: 26px 15px;
    font-size: 14px;
}

/* Make header fully opaque on scroll, replace box shadow with proper border */
.header.header-prepare, .header.header-light.header-prepare {
    background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}

/* Make logo a respectable size */
.logo {
    height: 48px;
    width: 199.58px;
}

.logo a {
    width: 100% !important;
    height: 100% !important;
    margin-top: 8px !important;
}

/* Prevent dotted outline on logo click */
.logo a:active, .logo a:focus {
    outline-style: none;
    -moz-outline-style:none;
}

/* Make paragraphs more readable */
body {
    font-size: 18px;
    font-weight: 600;
}

p, li {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

/* Adjust lead paragraph sizing */
p.lead {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 1em;
}

/* Give links color */
a {
    color: #2980B9;
}

/* Adjust headers */
h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.75em;
    font-weight: 800;
}

/* Make h4, h5, h6 preserve capitalization */
h4, h5, h6 {
    text-transform: initial;
}

/* Add red square after lead h1 */
h1.landing:after {
    color: #b92227;
    content: ".";
    font-size: 1.25em;
}

/* Remove red square after h3 */
h3::after {
    content: initial;
}

figure.titleFrame img {

	opacity: 0.5

}

figure.titleFrame:before {

	/* play button */
	content: "\e029";

	font-family: 'Glyphicons Halflings';
	font-size: 2em;
	text-align: center;
	line-height: 50px;

	position: absolute;
	width: 50px;
	/*height: 50px;*/
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;

}

figure {

	position: relative;
	cursor: pointer;
	display: inline-block;

}

.inner-intro {
    height: 300px;
    padding: initial;
}

footer.footer {
    background-color: #323232;
}

.inline-text-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.inline-text-list li {
    display: inline;
}

.inline-text-list li::after {
    content: ", ";
}

.inline-text-list li:last-of-type::after {
    content: none;
}

.tags-and-categories li {
    word-break: keep-all;
}

.page-header .tags-and-categories .categories,
.page-header .tags-and-categories .tags {
    display: block;
}

.page-header .tags-and-categories {
    margin-top: 0.3em;
}


.side-bar h3 {
    font-size: 16px;
}

.side-bar li {
    font-size: 12px;
}

.archive .blog-post-list {
    margin-top: 2em;
}

.blog-post .post-header h5 {
    margin: 5px 0px;
}

.blog-post .post-header .tags-and-categories {
    margin-bottom: 15px;
}

.blog-post .post-header .tags-and-categories ul {
    text-transform: capitalize;
    margin-right: 10px;
}

.side-bar {
    padding-top: 2em;
}

.side-bar .tags-and-categories li {
    text-transform: capitalize;
    margin-bottom: 0.4em;
}

.side-bar .related-posts li {
    margin-bottom: 0.75em;
}


.side-bar .related-posts h5 {
    text-transform: capitalize;
}
