---
title: Gaffer | Download
---

{% include header.html %}

{% include intro.html title="Download" image="../img/headers/header_graph.jpg" style="background-position: center 82%" %}

<!-- Content Section -->

<section id="download" class="container">
    <div class="row ptb-15 ptb-xs-30 pt-80">
        <div class="col-sm-5 pb-xs-60 text-center">
            <a class="btn btn-block btn-lg btn-color-a" style="font-size: 16px" href="https://github.com/ImageEngine/gaffer/releases/download/{{ site.latestGafferVersion }}/gaffer-{{ site.latestGafferVersion }}-linux.tar.gz"><i class="fa fa-download"></i>Gaffer for Linux</a>
            <a class="btn btn-block btn-lg btn-color-a" style="font-size: 16px" href="https://github.com/ImageEngine/gaffer/releases/download/{{ site.latestGafferVersion }}/gaffer-{{ site.latestGafferVersion }}-osx.tar.gz"><i class="fa fa-download"></i>Gaffer for OS X</a>
        </div>
        <div class="col-sm-7">
            <ul style="padding-left: 1em; list-style-type:'➜'">
                <li class="pb-15" style="padding-left: 6px;">How to: <a href="http://gafferhq.org/documentation/{{ site.latestGafferVersion }}/GettingStarted/InstallingGaffer/index.html">Install Gaffer</a>.</li>
                <li class="pb-15" style="padding-left: 6px;">How to: <a href="http://gafferhq.org/documentation/{{ site.latestGafferVersion }}/GettingStarted/ConfiguringGafferForThirdPartyTools/index.html">Configure Gaffer for Arnold, 3Delight, and Tractor</a>.</li>
                <li class="pb-15" style="padding-left: 6px;">Once installed and configured, try the <a href="http://gafferhq.org/documentation/{{ site.latestGafferVersion }}/GettingStarted/TutorialAssemblingTheGafferBot/index.html">Getting Started tutorial</a>.</li>
            </ul>
        </div>
    </div>
</section>

<section id="requirements" class="container">
    <div class="row ptb-15">
        <div class="col-xs-12 col-sm-6">
            <h2>Requirements</h2>
            <p>Gaffer has the following requirements:</p>
            <h3>Operating System</h3>
            <ul>
                <li>Linux (most tested on CentOS and Ubuntu)</li>
                <li>OS X 10.9 or higher</li>
            </ul>
            <h3>Hardware</h3>
            <ul>
                <li>Nvidia GPU</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 mt-xs-60">
            <h2>3rd-Party Tools</h2>
            <p>Gaffer is compatible with the following tools:</p>
            <ul>
                <li>Arnold 5</li>
                <li>3Delight 13</li>
                <li>Tractor 2</li>
            </ul>
        </div>
    </div>
</section>

<section id="demo" class="container ptb ptb-sm-80">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="page-icon-top ptb-0"><i class="fa fa-film"></i></div>
            <h2 class="mtb-30">Getting Started Demo</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/202088156" class="embed-responsive-item" frameborder="0" scrollable="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<!-- End Content Section -->

{% include footer.html %}
