---
title: Gaffer | Download
---

{% include header.html %}

{% include intro.html title="Download" image="../img/headers/header_graph.jpg" style="background-position: center 82%" %}

<!-- Content Section -->

<section id="download" class="container">
    <div class="row ptb-15 ptb-xs-30 pt-80">
        <div class="col-sm-5 pb-xs-60 text-center">
            <a class="btn btn-block btn-lg btn-color-a" style="font-size: 16px" href="https://github.com/ImageEngine/gaffer/releases/download/{{ site.latestGafferVersion }}/gaffer-{{ site.latestGafferVersion }}-linux.tar.gz"><i class="fa fa-download"></i>Gaffer for Linux</a>
            <a class="btn btn-block btn-lg btn-color-a" style="font-size: 16px" href="https://github.com/ImageEngine/gaffer/releases/download/{{ site.latestGafferVersion }}/gaffer-{{ site.latestGafferVersion }}-osx.tar.gz"><i class="fa fa-download"></i>Gaffer for OS X</a>
                </div>
        <div class="col-sm-7">
            <ul style="padding-left: 1em; list-style-type:'➜'">
                <li class="pb-15" style="padding-left: 6px;">How to: <a href="{{ site.baseurl }}/documentation/Installation/index.html">Install Gaffer</a>.</li>
                <li class="pb-15" style="padding-left: 6px;">How to: <a href="{{ site.basturl }}/documentation/Installation/index.html#configuring-3rd-party-tools">Configure Gaffer for Arnold, 3Delight, and Tractor</a>.</li>
                <li class="pb-15" style="padding-left: 6px;">Once installed and configured, try the <a href="{{ site.baseurl }}/documentation/Tutorials/GettingStarted/index.html">Getting Started tutorial</a>.</li>
            </ul>
            </div>
    </div>
        </section>

<section id="requirements" class="container">
    <div class="row ptb-15">
        <div class="col-xs-12">
            <h2>Requirements</h2>
            <p>Gaffer has the following requirements:</p>
            <h3>Operating System</h3>
            <ul>
                <li>Ubuntu or CentOS Linux</li>
                <li>OS X 10.9 or higher</li>
            </ul>
            <h3>Hardware</h3>
            <ul>
                <li>Nvidia GPU</li>
            </ul>
            </div>
                </div>
    <div class="row ptb-15">
        <div class="col-xs-12">
            <h2>3rd-Party Tools</h2>
            <p>Gaffer is compatible with the following tools:</p>
                <ul>
                <li>Arnold 5</li>
                <li>3Delight 13</li>
                <li>Tractor 2</li>
                </ul>
             </div>
    </div>
        </section>
        <section id="tinker" class="dark-bg ptb-60">
            <div class="text-center">
                <h1>Tinker</h1>
            </div>
            <div class="container">
	        <br/>
                        <p class="mb-0">A good first step would be working through the <a class="btn btn-md btn-color-line" href="{{ site.baseurl }}/documentation/Tutorials/GettingStarted/index.html">Getting Started Tutorial</a> in the user documentation. It covers the basics of working with Gaffer to create and render a scene, taking you from launching the application through to viewing a complete image.</p>
            </div>
        </section>
    </div>
</section>

<!-- End Content Section -->

{% include footer.html %}
