<footer class="mt-5 pt-4 pb-2 bg-dark gaff-text-gray-400 small" id="footer">
    <div class="container">
        <div class="row text-center text-md-left">
            <section class="col-12 col-md-6 mb-3 mb-md-0" id="sitemap">
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="#top">Top</a></li>
                    <li class="mb-1"><a href="/download">Home</a></li>
                    <li class="mb-1"><a href="/download">Download</a></li>
                    <li class="mb-1"><a href="/news">News</a></li>
                    <li class="mb-1"><a href="https://www.gafferhq.org/documentation/{{ site.latest-release }}">Docs</a></li>
                </ul>
            </section>

            <section class="col-12 col-md-6 order-md-first" id="about">
                <p class="mb-1 text-uppercase font-weight-bold gaff-letter-spacing">Gaffer</p>
                <p class="mb-1 h1">
                    <a href="https://groups.google.com/forum/#!forum/gaffer-dev"><i class="fab fa-google-plus-square"></i></a>
                    <a href="https://github.com/gafferHQ/gaffer"><i class="fab fa-github-square"></i></a>
                    <a href="https://vimeo.com/cortex"><i class="fab fa-vimeo-square"></i></a>
                </p>
                <p class="mb-1">© 2011-<span class="copyright-year"></span><noscript>2019</noscript> Image Engine Design Inc. All rights reserved.</p>
                <p class="mb-1">© 2011-<span class="copyright-year"></span><noscript>2019</noscript> John Haddon. All rights reserved.</p>
            </section>
        </div>
    </div>
</footer>
