/* Gaffer-specific variables */
$gaff-color-red: #b92227;
$gaff-color-dark: #212529;
$gaff-color-black: black;

/* Bootstrap overrides */
$enable-responsive-font-sizes: true;
$theme-colors: (
  "primary": $gaff-color-red,
  "dark": $gaff-color-dark,
  "black": $gaff-color-black,
);
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: scale-color(map-get($theme-colors, "primary"), $lightness: 25%);
$carousel-control-color: map-get($theme-colors, "primary");
$carousel-indicator-active-bg: map-get($theme-colors, "primary");

$code-color: #404040;
$spacer: 2rem;

